<h1>Random Quote Generator</h1>

<div class="owl-carousel">

</div>

<p>Quote Author Chart</p>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<%= timeline @quotes.map{|author, quotes| quotes.map{|q| [author, q.date, q.date + 5.year]}}.flatten(1), height: "500px", stacked: true %>

<p>© <%= Date.today.year %> The Quote of the Day App.</p>
