<h1>This is the home page</h1>

<p>And these are the quote authors by frequency of appearance</p>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<%= timeline [
  ["Columbus", "1789-04-29", "1797-03-03"],
  ["Mr. Washington", "1797-03-03", "1801-03-03"],
  ["More Columbus", "1801-03-03", "1809-03-03"]
] %>
